html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  letter-spacing: 0.05em;
  color: theme('colors.cc.other-2');
  font-size: theme('fontSize.base');
  font-weight: theme('fontWeight.normal');
  line-height: theme('lineHeight.normal');
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-size: theme('fontSize.sm');
  font-weight: theme('fontWeight.normal');
  line-height: theme('lineHeight.normal');
  background-color: var(--n-color);

  &:disabled {
    cursor: not-allowed;
    opacity: theme('opacity.60');

    & > * {
      cursor: not-allowed;
    }
  }
}

.clear-scale {
  transform: translateZ(0);
}

.clear-scale:hover {
  transform: translateZ(0) scale(1.1);
}

#map .modal-diglog {
  padding: theme('spacing.8');
}

#map .modal-window,
#mobile .modal-window {
  overflow: visible;
  border-radius: theme('borderRadius.m');
}

.n-base-select-menu .n-base-select-menu__empty {
  padding: 0px;
}
